/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

/* Modal Content */
/* Modal Content */
.modal-content1 {
    background-color: white;
    border-radius: 8px;
    width: 40%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    overflow: auto;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 100001; 
}

/* Modal Close Button */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Modal Body */
.modal-body {
    /* position: relative; */
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    gap: 1rem;
}
.followerImage {
    width: 2.2rem !important;
    height: 2.2rem !important;
    border-radius: 50%;
}
.likes{
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
}
.likes-container{
    padding: 0rem 2rem 0rem 2rem;
    height: 40vh;
    overflow: auto;
}
.liker-name{
    font-size: 13px;
    padding: 9px 0px 0px 9px;
}

@media (max-width: 768px) {
    .modal-content1 {
      width: 90%;
      height: 90%;
    }
  }

  @media (max-width: 600px) { 
    .modal-body {
        /* position: relative; */
        display: block;
    }
   
   }

   .like-container{
    position: relative;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 1rem;
    justify-content: space-between;
   }