.cardHeading{
    /* text-align: center; */
    padding-left: 27px;
}
.follower-container{
    padding: 0rem 0rem 0rem 2rem;
    height: 40vh;
    overflow: auto;
    /* display: flex;
    align-content: center;
    justify-content: space-between; */
}
.follower{
    padding: 5px;
}
.close{
    font-size: 25px;
    padding: 11px;
    cursor: pointer;
}
.userFollower{
    cursor: pointer;
}
.hr{
    margin: 0px 20px 7px 20px;
}




.fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}
.UnfollowButton{
    color: var(--orange);
    border: 2px solid var(--orange);
    cursor: pointer;
    background: transparent;
}
.FollowersCard>span{
    font-weight: bold; 
    color: orange;
    align-self: center;
    cursor: pointer;
}
